Repository mostafa-221/jobcrawler-backend, pull requests merged in 2020-07, with the labels that each got.

#43 Feature/link skill service
  docs/Match-skill-service.md
  src/main/java/nl/ordina/jobcrawler/controller/ScraperController.java
  src/main/java/nl/ordina/jobcrawler/controller/VacancyController.java
  src/main/java/nl/ordina/jobcrawler/model/Skill.java
  src/main/java/nl/ordina/jobcrawler/model/Vacancy.java
  src/main/java/nl/ordina/jobcrawler/repo/SkillRepository.java
  src/main/java/nl/ordina/jobcrawler/scrapers/JobBirdScraper.java
  src/main/java/nl/ordina/jobcrawler/service/MatchSkillsService.java
  src/main/java/nl/ordina/jobcrawler/service/ScraperService.java
  src/main/java/nl/ordina/jobcrawler/service/SkillService.java
Labels: new model

#45 deleted unnecessary dependancies
  pom.xml
Labels: code improvement

#37 Feature/yacht unit test
  pom.xml
  src/main/java/nl/ordina/jobcrawler/scrapers/VacancyScraper.java
  src/main/java/nl/ordina/jobcrawler/scrapers/YachtVacancyResponse.java
  src/main/java/nl/ordina/jobcrawler/scrapers/YachtVacancyScraper.java
  src/test/java/nl/ordina/jobcrawler/scrapers/YachtVacancyScraperTest.java
  src/test/resources/yacht/getRequestResponse.json
  src/test/resources/yacht/getRequestResponseEmptyFile.json
  src/test/resources/yacht/getRequestResponseNoData.json
  src/test/resources/yacht/yachtremovedvacancy.html
  src/test/resources/yacht/yachtvacancy.html
Labels: test

#42 ScraperController tests fix
  src/test/java/nl/ordina/jobcrawler/controller/ScraperControllerTest.java
Labels: bug, help wanted, test

#40 new controller
  pom.xml
  src/main/java/nl/ordina/jobcrawler/controller/ScraperController.java
  src/main/java/nl/ordina/jobcrawler/controller/SearchRequestController.java
  src/main/java/nl/ordina/jobcrawler/controller/SkillController.java
  src/main/java/nl/ordina/jobcrawler/controller/VacancyController.java
  src/main/java/nl/ordina/jobcrawler/controller/exception/SkillNotFoundException.java
  src/main/java/nl/ordina/jobcrawler/controller/exception/VacancyNotFoundException.java
  src/main/java/nl/ordina/jobcrawler/model/Skill.java
  src/main/java/nl/ordina/jobcrawler/model/Vacancy.java
  src/main/java/nl/ordina/jobcrawler/repo/SkillRepository.java
  src/main/java/nl/ordina/jobcrawler/repo/VacancyRepository.java
  src/main/java/nl/ordina/jobcrawler/scrapers/HuxleyITVacancyScraper.java
  src/main/java/nl/ordina/jobcrawler/scrapers/YachtVacancyScraper.java
  src/main/java/nl/ordina/jobcrawler/service/CRUDService.java
  src/main/java/nl/ordina/jobcrawler/service/MatchSkillsService.java
  src/main/java/nl/ordina/jobcrawler/service/ScraperService.java
  src/main/java/nl/ordina/jobcrawler/service/SkillService.java
  src/main/java/nl/ordina/jobcrawler/service/VacancyService.java
  src/test/java/nl/ordina/jobcrawler/controller/ControllerTest.java
  src/test/java/nl/ordina/jobcrawler/controller/SearchRequestControllerTest.java
  src/test/java/nl/ordina/jobcrawler/controller/SkillControllerTest.java
  src/test/java/nl/ordina/jobcrawler/controller/VacancyControllerTest.java
  src/test/java/nl/ordina/jobcrawler/utils/SkillFactory.java
  src/test/java/nl/ordina/jobcrawler/utils/Utils.java
  src/test/java/nl/ordina/jobcrawler/utils/VacancyFactory.java
Labels: code improvement

#53 added a not null condition to skills
  src/main/java/nl/ordina/jobcrawler/controller/SearchRequestController.java
Labels: fix

#55 Fix/nex 58 yacht
  pom.xml
  src/main/java/nl/ordina/jobcrawler/scrapers/YachtVacancyScraper.java
  src/test/java/nl/ordina/jobcrawler/scrapers/YachtVacancyScraperTest.java
  src/test/resources/yacht/getRequestResponse.json
Labels: fix, test

#56 Feature/concurrency
  src/main/java/nl/ordina/jobcrawler/scrapers/JobBirdScraper.java
  src/main/java/nl/ordina/jobcrawler/scrapers/YachtVacancyScraper.java
  src/main/java/nl/ordina/jobcrawler/service/ScraperService.java
  src/test/java/nl/ordina/jobcrawler/scrapers/YachtVacancyScraperTest.java
Labels: code improvement

#54 RESTful controller
  pom.xml
  src/main/java/nl/ordina/jobcrawler/controller/ResponseCode.java
  src/main/java/nl/ordina/jobcrawler/controller/ScraperController.java
  src/main/java/nl/ordina/jobcrawler/controller/SearchRequestController.java
  src/main/java/nl/ordina/jobcrawler/controller/SkillController.java
  src/main/java/nl/ordina/jobcrawler/controller/SkillMatcherController.java
  src/main/java/nl/ordina/jobcrawler/controller/VacancyController.java
  src/main/java/nl/ordina/jobcrawler/model/Skill.java
  src/main/java/nl/ordina/jobcrawler/model/Vacancy.java
  src/main/java/nl/ordina/jobcrawler/model/assembler/SkillModelAssembler.java
  src/main/java/nl/ordina/jobcrawler/model/assembler/VacancyModelAssembler.java
  src/main/java/nl/ordina/jobcrawler/repo/SkillRepository.java
  src/main/java/nl/ordina/jobcrawler/repo/VacancyRepository.java
  src/main/java/nl/ordina/jobcrawler/scrapers/YachtVacancyScraper.java
  src/main/java/nl/ordina/jobcrawler/service/SkillMatcherService.java
Labels: code improvement
